$primary-bg-color: #222222;
$theme-primary: #8a2be2;

$white: white;
$profile: #FF724C;

$font-family_1: 'Oxygen', sans-serif;
$font-family_2: 'Roboto', sans-serif;
$heading-color: #12013A;
$text-gray-1: #969696;